
body {
    text-transform: capitalize; 
    background-color: 28282b;
}

.navbar__one{
    margin-bottom:0;
}
.navbar__two{
    margin-bottom:10px;
}

.navbar__two > button {
    border:solid 3px grey;  
    margin-top:20px;      
}

.navbar__two > button:hover{
    background-color: #e3b379;
    border:none;
}

.navbar__two > button > span {
    border:2px solid black;
}


.navbar__three{
     padding: 20px 0 0 20px;
     letter-spacing: 2px;
     cursor:pointer;
}

.navbar__three > h1{
      margin:0;
      color:white;
}

.navbar__three > h1 > span{
     color:#e3b379;
}


.navbar__four > ul > li{
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-right: 5px;
}

.navbar__four > ul > li > a{
    color:#e3b379;
    padding-left:15px;
}

.navbar__four > ul > li > a:hover{
    background-color: #e3b379;
    color:black;
    border:none;
    border-radius: 10px;
}

.navbar__four > ul{
    text-align: center;
    margin-top:15px;
}


.about__one > div > h1{
   font-size:50px;
   font-weight: 500;
   letter-spacing: 1px;
   color:white;

}

.about__one > div > h1 > span{
    color:#e3b379;
}

.about__one > div > p{
    font-size:25px;
    font-weight:100;
    color:white;
}


.about__two > div{
    padding-left:0;
}

.about__two >  div >  a{
    color:#e3b379;
    text-transform: capitalize;
    background-color: #28282b;
    border:1px solid white;
    font-size:18px;
    margin-bottom: 30px;;
}

.about__two > div >  a:hover{
    background-color: #e3b379;
    color:black;
    border:none;
}


.about__three > div{
    padding-left:0;
}

.about__three > div > a > img{
    background-color: white;
   
}

.about__four{
    margin-top:100px;
}


.skill__one > div > p{
    font-size:50px;
    color:#e3b379;
    letter-spacing: 1px;
    text-align: center;
    font-weight:300;
    margin-bottom: 30px;;
}

.skill__one > div > h3{
    color:white;
}

.skill__one > div > progress{
    width:100%;
}


.education__one > div > p{
    font-size:50px;
    color:#e3b379;
    letter-spacing: 1px;
    text-align:center;
    font-weight:300;
    margin-bottom: 30px;
}

.education__one > div > div > h2{
    color:#e3b379;
    font-weight:300;
}

.education__one > div > div > h4{
    color:white;
}

.education__two{
    border:3px solid #e3b379;
    border-radius: 10px;
    padding:20px 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


.projects__heading > div > p{
    font-size:50px;
    color:#e3b379;
    letter-spacing: 1px;
    text-align:center;
    font-weight:300;
    margin-bottom: 30px;
}

.projects__heading{
    margin-bottom: 40px;
}


.projects__one > h4,h5{
    color:white;
    text-transform: none;
    text-align: justify;
}

.projects__one > h3{
    color:#e3b379;
}

.projects__one > h4:hover{
    color:#e3b379;
    cursor: pointer;
}



.projects__button1 > div > a{
    text-transform: capitalize;
    background-color: #28282b;
    border:1px solid white;
    color:#e3b379;
}

.projects__button1 > div > a:hover{
    background-color: #e3b379;
    color:black;
    border:none;

}


.projects__two > h4,h5{
    color:white;
    text-transform: none;
    text-align: justify;
}

.projects__two > h3{
    color:#e3b379;
}

.projects__two > h4:hover{
    color:#e3b379;
    cursor: pointer;
}


.projects__button2 > div > a{
    text-transform: capitalize;
    background-color: #28282b;
    border:1px solid white;
    color:#e3b379;
}

.projects__button2 > div > a:hover{
    background-color: #e3b379;
    color:black;
    border:none;

}


.projects__three > h4,h5{
    color:white;
    text-transform: none;
    text-align: justify;
}

.projects__three > h3{
    color:#e3b379;
}

.projects__three > h4:hover{
    color:#e3b379;
    cursor: pointer;
}



.projects__button3 > div > a{
    text-transform: capitalize;
    background-color: #28282b;
    border:1px solid white;
    color:#e3b379;
}

.projects__button3 > div > a:hover{
    background-color: #e3b379;
    color:black;
    border:none;
}

.projects__four > h4,h5{
    color:white;
    text-transform: none;
    text-align: justify;
}

.projects__four > h3{
    color:#e3b379;
}

.projects__four > h4:hover{
    color:#e3b379;
    cursor: pointer;
}

.projects__button4 > div > a{
    text-transform: capitalize;
    background-color: #28282b;
    border:1px solid white;
    color:#e3b379;
}

.projects__button4 > div > a:hover{
    background-color: #e3b379;
    color:black;
    border:none;

}


.contact__one > div > p{
    font-size:50px;
    color:#e3b379;
    letter-spacing: 1px;
    text-align:center;
    font-weight:300;
    margin-bottom: 30px;
}

.contact__two{
    border:3px solid #e3b379;
    border-radius: 10px;
    padding:20px 5px 20px 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}


.contact__two > h2{
    color:white;
    font-weight:300;
}

.contact__two > h5 > a{
    color:#e3b379;
    text-transform: none;
}



.last__one > div{
    padding:0;
}

.last__one > div >  a > img{
    border-radius: 10px;
}

.last__one > div > a > img:hover{
    background-color: #e3b379;
}

#one{
    font-size: 70px;
}


